<div class="about w3layouts-agileinfo">
	<div class="container">
		<div class="top-about">
			<h1>About</h1>
			<p style="text-align: justify">
				"Track it" is a real-time error tracking app that gives you insight into production deployments and information to reproduce and fix crashes.
				Catastrophic bugs sometimes make it into production. When they do, you can be caught off guard or jump into action as soon as they surface.
				It’s features help you identify and debug errors and give you the insight needed to decide whether to fix or roll back.
				Because when things go to hell, you’ll need help fighting fires.
				If things break, you’ll know where errors are happening, how often they happen, and who is affected.
				Know what’s breaking and how to reproduce the problem, without waiting for user reports.
				Give users the power to help - Automatically prompt users for feedback so they know that you know things aren’t working.
				Let them know things are better - Reach out to affected users to let them know they’ve experienced an error and that help is on the way.
				View actual code in stack traces, including support for source maps.
				See the error’s url, parameters, and session information.
				Filter noisy traces with app, framework, and raw error views.
			</p>
		</div>
	</div>
</div>
<br><br>