<div class="content w3layouts-agile">
	<div class="feature">
		<div class="container">
			
			<!-- Application Data -->
			<div class="feature-top" style="margin-top: -5%; margin-bottom: -3%">
				<h3>Application Data</h3>
			</div>
		  	<div class="table-responsive" style="margin-left: 20%; margin-right: 20%; border: 1px solid gray; border-radius: 15px; padding: 10px;">          
				<table class="table">
			    	<tbody>
			      		<tr>
			        		<td>Name</td>
			        		<td><b>Spring mvc</b></td>
			      		</tr>
			      		<tr>
			        		<td>Description</td>
			        		<td>Front End</td>
			      		</tr>
			      		<tr>
			        		<td>Application Version</td>
			        		<td>7.2</td>
			      		</tr>
			      		<tr>
			        		<td>Repository URL</td>
			        		<td>/trackIt/apps/thisOne</td>
			      		</tr>
			      		<tr>
			        		<td>Domain Source Name</td>
			        		<td>1234:8080</td>
			      		</tr>
			      		<tr>
			        		<td>Creator</td>
			        		<td>James Lukas</td>
			      		</tr>
			  		</tbody>
			  	</table>
			</div>
			
			<!-- Event List -->
			<div class="feature-top" style="margin-top: 5%; margin-bottom: -3%">
				<h3>Events</h3>
			</div>
		  	<div class="table-responsive" style="margin-left: 20%; margin-right: 20%; border: 1px solid gray; border-radius: 15px; padding: 10px;">          
				<div class="comment-list-scroll">
					<div class="profile-list">
						<div class="comment-listItem">
							<a href="event.html">
								<div class="comment-grid-left" style="margin-top: 30px">
									<img src="images/pc.jpg" class="img-thumbnail">
								</div>
							</a>
							<div class="comment-grid-right">
								<div class="comment-listItem-text">
									<a href="event.html">
										<h4>Event Name</h4>
									</a>
									<p>Event Description</p>
									<p>Date & Time</p>
								</div>
							</div>
						</div>
					</div>
					<div class="profile-list">
						<div class="comment-listItem">
							<a href="event.html">
								<div class="comment-grid-left" style="margin-top: 30px">
									<img src="images/pc1.jpg" class="img-thumbnail">
								</div>
							</a>
							<div class="comment-grid-right">
								<div class="comment-listItem-text">
									<a href="event.html">
										<h4>Event Name</h4>
									</a>
									<p>Event Description</p>
									<p>Date & Time</p>
								</div>
							</div>
						</div>
					</div>
					<div class="profile-list">
						<div class="comment-listItem">
							<a href="event.html">
								<div class="comment-grid-left" style="margin-top: 30px">
									<img src="images/pc2.jpg" class="img-thumbnail">
								</div>
							</a>
							<div class="comment-grid-right">
								<div class="comment-listItem-text">
									<a href="event.html">
										<h4>Event Name</h4>
									</a>
									<p>Event Description</p>
									<p>Date & Time</p>
								</div>
							</div>
						</div>
					</div>
					<div class="profile-list">
						<div class="comment-listItem">
							<a href="event.html">
								<div class="comment-grid-left" style="margin-top: 30px">
									<img src="images/pc.jpg" class="img-thumbnail">
								</div>
							</a>
							<div class="comment-grid-right">
								<div class="comment-listItem-text">
									<a href="event.html">
										<h4>Event Name</h4>
									</a>
									<p>Event Description</p>
									<p>Date & Time</p>
								</div>
							</div>
						</div>
					</div>							
				</div>
			</div>
			
			<!-- Register User -->
			<div class="feature-top" style="margin-top: 5%; margin-bottom: -3%">
				<h3>Invite User</h3>
			</div>
		  	<div class="table-responsive" style="margin-left: 20%; margin-right: 20%; border: 1px solid gray; border-radius: 15px; padding: 40px 100px 30px 100px;">          
				<div class="form-group">
					<form>
						<input type="email" class="form-control" id="inputEmail3" placeholder="Email" required=""> <br>
						<textarea class="form-control" rows="4" id="comment" style="resize: none;" placeholder="Write an Invitation Text..."></textarea> <br>
    					<button type="submit" class="btn btn-warning"style="width: 100%;">
    						<b>Invite</b>
    					</button>
					</form>
				</div>
			</div>
			
		</div>
	</div>
</div>