<style>
	hr {
		margin: 0px;
		border-top: 1px solid #808080;
	}
</style>
<div class="content w3layouts-agile">
	<div class="feature">
		<div class="container" style="display: flex;">

			<div style="display: inline-block; margin-right: 40px;">
				<!-- Application Data -->
				<div class="feature-top" style="margin-top: -15px; text-align: left; font-size: 10px; padding-bottom: 3em;">
					<h3>Application Data</h3>
				</div>
				<div class="table-responsive" style="border: 2px solid gray; border-radius: 15px; padding: 10px;">          
					<table class="table">
						<tbody>
							<tr>
								<td>Name</td>
								<td><b>{{application.name}}</b></td>
							</tr>
							<tr>
								<td>Description</td>
								<td>{{application.description}}</td>
							</tr>
							<tr>
								<td>Application Version</td>
								<td>{{application.version}}</td>
							</tr>
							<tr>
								<td>Repository Link</td>
								<td>{{application.repositoryLink}}</td>
							</tr>
							<tr>
								<td>Domain Source Name</td>
								<td>{{application.domain}}</td>
							</tr>
							<tr>
								<td>Creator</td>
								<td>{{application.creator}}</td>
							</tr>
						</tbody>
					</table>
				</div>

				<!-- Register User -->
				<div ng-if="loaded">
					<div class="feature-top" style="margin-top: 50px; text-align: left; font-size: 10px; padding-bottom: 3em;">
						<h3>Invite User</h3>
					</div>
					<div class="table-responsive" style="border: 2px solid gray; border-radius: 15px; padding: 40px 50px 30px 50px;">          
						<div class="form-group">
							<form>
								<input type="email" class="form-control" id="inputEmail3" placeholder="Email" required ng-model="userInvite.email" uib-typeahead="user.email for user in users | filter:$viewValue"> <br>
								<button type="submit" class="btn btn-warning"style="width: 100%;" ng-click="inviteUser()">
									<b>Invite</b>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div style="display: inline-block; width: 670px;">
				<!-- Event List -->
				<div class="feature-top" style="margin-top: -15px; text-align: left; font-size: 10px; padding-bottom: 3em;">
					<h3>Events</h3>
				</div>
				<div class="table-responsive" style="border: 2px solid gray; border-radius: 15px; padding: 15px; height: 577px; overflow: hidden;">
					<div style="height: 42px;">
						<div>
							<select class="form-control" ng-model="filter" ng-change="optionClick()" 
								style="margin-left: 5%; height: 3em; width: 30%; float: left;">
								<option ng-repeat="f in fragments | unique: f">{{f}}</option>
							</select>
							<select class="form-control"
								style="margin-right: 5%; height: 3em; width: 30%; float: right;">
								<option value="version">Version Ascending</option>
								<option value="-version">Version Descending</option>
							</select>
						</div>
					</div>
					<div ng-if="!showMainType" style="overflow-x: auto; height: 485px; margin-top: 15px;">
						<section id="cd-timeline" class="cd-container">
							<div class="cd-timeline-block" ng-repeat="eventDate in timelineEvents"> 
								<div class="cd-timeline-img cd-picture">
								</div>

								<div class="cd-timeline-content">
									<h2>Title of section 1<span style="float: right">{{eventDate.events[0].timeStamp | date:'dd-MM-yyyy'}}</span></h2>
									<div ng-repeat="event in eventDate.events">
										<p>{{event.stack}}</p>
										<span class="cd-date">{{event.timeStamp | date:'HH:mm'}}</span><br />
										<hr>
									</div>
								</div>
							</div>
						</section>
					</div>

					<div ng-if="showMainType" style="overflow-x: auto; height: 485px; margin-top: 15px;">
						<div class="clearfix"></div>
						<div class="">
							<div class="profile-list" ng-repeat="event in events"
							style="border: 1px solid orange; border-radius: 15px; padding: 15px; margin-top: 5px;">
								<a href ng-click="getEvent(event)">	
									<h4>{{event.stack}}</h4>
								</a>
								<p><b>Fragment:</b> {{event.fragment}}</p>
								<p><b>Time  stamp:</b> {{event.timeStamp | date:'dd-MM-yyyy HH:mm'}}</p>
								<p><b>Version:</b> {{event.version}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>