<div class="content w3layouts-agile">
	<div class="feature">
		<div class="container">
			
			<!-- Application Data -->
			<div class="feature-top" style="margin-top: -5%; margin-bottom: -3%">
				<h3>Application Data</h3>
			</div>
		  	<div class="table-responsive" ng-controller="applicationCtrl" style="margin-left: 20%; margin-right: 20%; border: 1px solid gray; border-radius: 15px; padding: 10px;">          
				<table class="table">
			    	<tbody>
			      		<tr>
			        		<td>Name</td>
			        		<td><b>{{application.name}}</b></td>
			      		</tr>
			      		<tr>
			        		<td>Description</td>
			        		<td>{{application.description}}</td>
			      		</tr>
			      		<tr>
			        		<td>Application Version</td>
			        		<td>{{application.version}}</td>
			      		</tr>
			      		<tr>
			        		<td>Repository Link</td>
			        		<td>{{application.repositoryLink}}</td>
			      		</tr>
			      		<tr>
			        		<td>Domain Source Name</td>
			        		<td>{{application.domain}}</td>
			      		</tr>
			      		<tr>
			        		<td>Creator</td>
			        		<td>{{application.creator}}</td>
			      		</tr>
			  		</tbody>
			  	</table>
			</div>
			
			<!-- Event List -->
			<div class="feature-top" style="margin-top: 5%; margin-bottom: -3%">
				<h3>Events</h3>
			</div>
		  	<div class="table-responsive" ng-controller="eventCtrl" style="margin-left: 20%; margin-right: 20%; border: 1px solid gray; border-radius: 15px; padding: 10px;">
		  		<div style="margin-left: 40%">
					<form>
						<label class="radio-inline"><input type="radio" name="optradio" checked>All</label>
						<label class="radio-inline"><input type="radio" name="optradio">Fragment</label>
					</form>
				</div>      
				<div class="comment-list-scroll">
					<div class="profile-list" ng-repeat="event in events" style="border: 1px solid gray; border-radius: 15px; padding: 10px;">
						<a href ng-click="getEvent(event)">
							<h4>{{event.text}}</h4>
						</a>
						<p><b>Fragment:</b> {{event.fragment}}</p>
						<p><b>Stack:</b> {{event.stack}}</p>
					</div>
				</div>
			</div>
			
			<!-- Register User -->
			<div class="feature-top" style="margin-top: 5%; margin-bottom: -3%">
				<h3>Invite User</h3>
			</div>
		  	<div class="table-responsive" style="margin-left: 20%; margin-right: 20%; border: 1px solid gray; border-radius: 15px; padding: 40px 100px 30px 100px;">          
				<div class="form-group">
					<form>
						<input type="email" class="form-control" id="inputEmail3" placeholder="Email" required=""> <br>
						<textarea class="form-control" rows="4" id="comment" style="resize: none;" placeholder="Write an Invitation Text..."></textarea> <br>
    					<button type="submit" class="btn btn-warning"style="width: 100%;">
    						<b>Invite</b>
    					</button>
					</form>
				</div>
			</div>
			
		</div>
	</div>
</div>