<div class="content w3layouts-agile">
	<div class="feature">
		<div class="container">
			<div class="feature-top" style="margin-top: -5%; margin-bottom: -2%">
				<h3>Event Data</h3>
			</div>
		  	<div class="table-responsive" style="margin-left: 20%; margin-right: 20%; border: 1px solid gray; border-radius: 15px; padding: 10px;">          
				<table class="table">
			    	<tbody>
			      		<tr>
			        		<td>Application ID</td>
			        		<td>
								<b>{{event.application}}</b>
							</td>
			      		</tr>
			      		<tr>
			        		<td>Text</td>
			        		<td>{{event.text}}</td>
			      		</tr>
			      		<tr>
			        		<td>Version</td>
			        		<td>{{event.version}}</td>
			      		</tr>
			      		<tr>
			        		<td>Stack Trace</td>
			        		<td>{{event.stack}}</td>
			      		</tr>
			      		<tr>
			        		<td>Date & Time</td>
			        		<td>{{event.timeStamp}}</td>
			      		</tr>
			      		<tr>
			        		<td>Fragment</td>
			        		<td>{{event.fragment}}</td>
			      		</tr>
			  		</tbody>
			  	</table>
			</div>
			
			<div class="feature-top" style="margin-top: 5%; margin-bottom: -3%">
				<h3>Comments</h3>
			</div>
		  	<div class="table-responsive" style="margin-left: 20%; margin-right: 20%; border: 1px solid gray; border-radius: 15px; padding: 10px;">          
				<div class="comment-list-scroll">
					<br>
					<form>
						<div>
							<textarea class="form-control" rows="4" id="comment" style="resize: none;" placeholder="Leave a Comment..." required ng-model="commCreate.text"></textarea>
							<input type="submit" class="btn btn-success" value="Submit" ng-click="submitComment()" style="margin-top:3px; float:right; width: 25%">
						</div>
					</form>
					<div class="clearfix"></div> <br>
					
					<div class="profile-list" ng-repeat="comment in comments" style="border: 1px solid gray; border-radius: 15px; padding: 10px;">
						<h4>{{comment.text}}</h4>
						<p>User id: {{comment.user}}</p>
						<p>{{comment.createdAt}}</p>
						<p>
       						<a ng-click="commCollapsed=!commCollapsed" href>
								Comment...
							</a>
							<div ng-show="commCollapsed">
								<form><br>
									<div>
										<textarea class="form-control" rows="4" id="comment" style="resize: none;" placeholder="Leave a Comment..." required ng-model="commOnCommCreate.text"></textarea>
										<input type="submit" class="btn btn-success" value="Submit" ng-click="submitCommentOnComment()" style="margin-top:3px; float:right; width: 25%">
									</div>
								</form><br>
							</div>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>