<div class="content w3layouts-agile">
	<div class="feature">
		<div class="container">
			<div class="feature-top" style="margin-top: -5%; margin-bottom: -2%">
				<h3>Event Data</h3>
			</div>
		  	<div class="table-responsive" style="margin-left: 20%; margin-right: 20%; border: 1px solid gray; border-radius: 15px; padding: 10px;">          
				<table class="table">
			    	<tbody>
			      		<tr>
			        		<td>Application Name</td>
			        		<td>
								<a ng-href="http://localhost:8080/app/#!/application"> <b>{{event.application.name}}</b> </a>
							</td>
			      		</tr>
			      		<tr>
			        		<td>Event Name</td>
			        		<td>?</td>
			      		</tr>
			      		<tr>
			        		<td>Version</td>
			        		<td>{{event.version}}</td>
			      		</tr>
			      		<tr>
			        		<td>Stack Trace</td>
			        		<td>{{event.stack}}</td>
			      		</tr>
			      		<tr>
			        		<td>Date & Time</td>
			        		<td>{{event.timeStamp}}</td>
			      		</tr>
			      		<tr>
			        		<td>Fragment</td>
			        		<td>{{event.fragment}}</td>
			      		</tr>
			  		</tbody>
			  	</table>
			</div>
			
			<div class="feature-top" style="margin-top: 5%; margin-bottom: -3%">
				<h3>Comments</h3>
			</div>
		  	<div class="table-responsive" style="margin-left: 20%; margin-right: 20%; border: 1px solid gray; border-radius: 15px; padding: 10px;">          
				<div class="comment-list-scroll">
					<br>
					<form>
						<div>
							<textarea class="form-control" rows="4" id="comment" style="resize: none;" placeholder="Leave a Comment..." required=""></textarea>
							<input type="submit" class="btn btn-success" value="Submit" style="margin-top:3px; float:right; width: 25%">
						</div>
					</form>
					<div class="clearfix"></div> <br>
					
					<div class="profile-list">
						<div class="comment-listItem">
							<div class="comment-grid-left" style="margin-top: 30px">
								<img src="images/pc.jpg" class="img-thumbnail">
							</div>
							<div class="comment-grid-right">
								<div class="comment-listItem-text">
									<h4>Username</h4>
									<p>Description</p>
									<p>date</p>
								</div>
							</div>
						</div>
					</div>
					<div class="profile-list">
						<div class="comment-listItem">
							<div class="comment-grid-left" style="margin-top: 30px">
								<img src="images/pc1.jpg" class="img-thumbnail">
							</div>
							<div class="comment-grid-right">
								<div class="comment-listItem-text">
									<h4>Username</h4>
									<p>Description</p>
									<p>date</p>
								</div>
							</div>
						</div>
					</div>
					<div class="profile-list">
						<div class="comment-listItem">
							<div class="comment-grid-left" style="margin-top: 30px">
								<img src="images/pc2.jpg" class="img-thumbnail">
							</div>
							<div class="comment-grid-right">
								<div class="comment-listItem-text">
									<h4>Username</h4>
									<p>Description</p>
									<p>date</p>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>