<div class="content w3layouts-agile">
	<div class="feature">
		<div class="container">
			<div class="feature-top" style="margin-top: -5%; margin-bottom: -3%">
				<h3>Applications</h3>
			</div>
			<br>
		  	<div class="row">
		    	<div class="col-md-4">
		      		<div class="thumbnail">
						<a href="application.html"><img src="images/pc.jpg" class="img-responsive" style="height: 25%; width: 100%"></a>
						<div class="caption">
							<h5><a href="application.html">Angular JS</a></h5> <br>
							<p>Description: Front End</p>
							<p>Version: 7.2</p>
							<p>Repository URL: /trackIt/apps/thisOne</p>
						</div>
					</div>
				</div>
		    	<div class="col-md-4">
		      		<div class="thumbnail">
							<a href="application.html"><img src="images/pc1.jpg" class="img-responsive" style="height: 25%; width: 100%"></a>
						<div class="caption">
							<h5><a href="application.html">Spring mvc</a></h5> <br>
							<p>Description: Back End</p>
							<p>Version: 2.4</p>
							<p>Repository URL: /trackIt/apps/this2</p>
						</div>
					</div>
				</div>
		    	<div class="col-md-4">
		      		<div class="thumbnail">
							<a href="application.html"><img src="images/pc2.jpg" class="img-responsive" style="height: 25%; width: 100%"></a>
						<div class="caption">
							<h5><a href="application.html">Node JS</a></h5> <br>
							<p>Description: Front End</p>
							<p>Version: 1.2</p>
							<p>Repository URL: /trackIt/apps/this3</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>