<div class="content w3layouts-agile">
	<div class="feature">
		<div class="container">
			<div class="feature-top" style="margin-top: -5%;">
				<h3>Register Application</h3>
			</div>
			<div class="feature-grid" style="padding-left: 25%; padding-right: 25%;">
				<div class="form-group">
					<form>
						<input type="text" class="form-control" placeholder="Name" required=""> <br>
						<input type="text" class="form-control" placeholder="Description" required=""> <br>
						<input type="text" class="form-control" placeholder="Version"> <br>
						<input type="text" class="form-control" placeholder="Repository URL"> <br>
						<input type="text" class="form-control" placeholder="Domain Source Name" required=""> <br>
    							<button type="submit" class="btn btn-warning"style="width: 100%;"><b>Register</b></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>